{% extends "base.html.twig" %}

{% block body %}

<a href="{{ path('admin_new_vehicule') }}" class="btn btn-success my-2">Ajouter un vehicule</a>

<table class="table">
<thead>
<tr>
{%for data in champs %}
<th>{{ data }} </th>
{% endfor %}


<th>Edit</th>
<th>supp</th>
</tr>
</thead>

<tbody>
{% for vehicule in vehicules %}
<tr>
<td>{{ vehicule.id }}</td>
<td>{{ vehicule.titre }}</td>
<td>{{ vehicule.marque }}</td>
<td>{{ vehicule.modele }}</td>
<td>{{ vehicule.description|raw }}</td>
<td><img src="{{ vehicule.photo }}" class="img-fluid rounded-start" alt="... "></td>
<td>{{ vehicule.prixJournalier }}</td>
<td>{{ vehicule.dateEnregistrement|date('d/m/y à H:i:s')}}</td>

<td>

<a href="{{ path('admin_edit_vehicule',{id: vehicule.id}) }}" class="text-success">
<i class="fas fa-edit fa-2x"></i>
</a>
</td>

<td>
<a href="{{ path('admin_delete_vehicule',{id: vehicule.id}) }}" class="text-danger">
<i class="fas fa-trash fa-2x"></i> 
</a>
</td> 
</tr>

{% endfor %}
</tbody>
</table>

{% endblock %}